<% anchor ||= '' %>
<li>
  <% unless facet.title.blank? %><b><%= facet.title %></b><% end %>
  <form action="<%= anchor %>" class="faceted__facet__text form-inline">
    <% facet.facets.list.each do |f| %>
      <% next if f == facet || f.params.blank? || f.path_pattern? %>
      <input  type="hidden"
              name="facets[<%= f.param_name %>]"
              value="<%= f.params %>" />
    <% end %>
    <input  type="search"
            name="facets[<%= facet.param_name %>]"
            placeholder="<%= facet.placeholder %>"
            value="<%= facet.params %>"
            class="form-control" />
    <input  type="submit"
            class="btn btn-light"
            value="OK" />
  </form>
</li>
