<h1>Facets</h1>

<div class="row">
  <div class="col-md-3">
    <%= render 'faceted_search/facets', facets: @facets %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <% @items.each do |item| %>
        <div class="col-md-4">
          <h2><%= item %></h2>
          <p>Products: <%= item.products.join(', ') %></p>
          <p>Categories: <%= item.categories.join(', ') %></p>
          <p>Kinds: <%= item.kinds.join(', ') %></p>
          <p>Style: <%= item.style %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>