<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Products</th>
      <th>Kinds</th>
      <th>Categories</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.title %></td>
        <td><%= item.products.join(', ') %></td>
        <td><%= item.kinds.join(', ') %></td>
        <td><%= item.categories.join(', ') %></td>
        <td><%= link_to 'Show', item %></td>
        <td><%= link_to 'Edit', edit_item_path(item) %></td>
        <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New item', new_item_path %>
